*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: courier, monospace;
}

body{
    background-color: grey;
}

header{
    background-color: greenyellow;
}

    nav{
        background-color: red;
    }

        ul{}

            li{
                list-style-type: none;
            
            }

            nav a{
                text-decoration: none;
                color: black;
            }

main{
    background-color: aqua;
}

footer{
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    width: 100%;
}